extenders/extenders.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="AliasType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="name" type="xs:string" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="StyleType">
    <xs:attribute name="urlBase" type="xs:string" use="required" />
    <xs:attribute name="url" type="xs:string" use="required" />
  </xs:complexType>

  <xs:complexType name="ScriptType">
    <xs:attribute name="urlBase" type="xs:string" use="optional" />
    <xs:attribute name="url" type="xs:string" use="required" />
    <xs:attribute name="name" type="xs:string" use="required" />
    <xs:attribute name="type" type="xs:string" default="text/javascript" />
  </xs:complexType>

  <xs:element name="webExtender">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="urls">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="alias" type="AliasType" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="extenders">
          <xs:complexType>
            <xs:sequence>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="style" type="StyleType" />
                <xs:element name="script" type="ScriptType" />
              </xs:choice>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>